@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
body{
  color: white;
  background-color: #00a2d3;
    font-family: 'Open Sans Condensed', sans-serif;
}
button{
 background-color: #566473;
    color: white;
    border: none;
    width: 100%;
    padding: 30px 50px;
}
h1,h2,h3{
    text-align: center;
}
h1{
 font-size: 70px;   
}
h2{
 60px;   
}
li{
list-style: none;
    display: inline-block;
}
li:nth-child(even){
  float: right;
  margin-right: 30px; 
}
h3{
 border-bottom: solid white 3px;
    border-bottom-width: 100%;
}