@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
body{
    margin: 0px;
    padding: 0px;
  color: white;
  background-color: #4890a8;
    font-family: 'Open Sans Condensed', sans-serif;
}
img{
    display: block;
 margin-left: auto;
    margin-right: auto;
    width: 20%;
    
}
button{
 background-color: #566473;
    color: white;
    border: none;
    width: 100%;
    padding: 20px 50px;
}
h1,h2,h3{
    text-align: center;
}
h1{
    padding: 0px;
    margin: 0px;
 font-size: 70px;   
}
h2{
 60px;   
}
h3{
 border-bottom: solid white 3px;
    border-bottom-width: 100%;
    padding-bottom: 10px;
}
li{
list-style: none;
    display: inline-block;
}
li:nth-child(even){
  float: right;
  margin-right: 30px; 
}

